#ourServicesHeader {
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
}

.servicesContainer {
  max-width: 1150px;
  margin: auto;
}

.pageHeader {
  width: 100%;
  text-align: center;
  padding: 70px 0;
}

a {
  color: white;

  text-transform: uppercase;
}

.pageHeader h1 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  text-shadow: 1px 2px 2px #000;
}

.servicesSectionHeaders {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  color: #0a465b;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

header#homepageHeader {
  height: 84px;
  background-color: #2a2a2a;
  z-index: 2;
  position: relative;
}

.servicesIntro {
  color: #7f969e;
  font-size: 18px;
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding: 10px 0;
  line-height: 1.4;
  height: 100%;
}

.orangehighlight {
  color: #ffa500;
}

#servicesIntro {
  padding: 50px 0 70px;
}

#varietyServices {
  background-color: #edeff3;
  padding: 50px 0 70px;
  overflow: hidden;
}

.Blueboxes {
  max-width: 263px;
  height: 390px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  float: left;
  margin-top: 50px;
  margin-right: 32px;
  margin-bottom: 30px;
  background: #fff;
  border: 0px solid #dedede;
}

.pointSeperator {
  width: 100%;
  background-color: #d1d1d0;
  height: 5px;
  position: relative;
  z-index: 1;
}

.Blueboxes h2 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  padding: 25px 20px 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  background-color: #107698;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  min-height: 110px;
}

.Blueboxes p {
  padding: 20px 25px;
  font-size: 16px;
  display: inline-block;
  line-height: 1.4;
}

#Flexibity {
  padding: 50px 0 50px;
  max-width: 1150px;
  margin: auto;
}

.flexPoint {
  max-width: 350px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  float: left;
  margin-top: 30px;
  margin-right: 50px;
}

.flexPoint h2 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #0a465b;
  border-bottom: 2px #fdb530 solid;
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  width: 80%;
  margin: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}

.flexPoint p {
  padding: 15px;
  font-size: 16px;
  display: inline-block;
  line-height: 1.4;
}

#servicesSpecializations {
  background-color: #edeff3;
  padding: 50px 0 50px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 30px;
}

.Blueboxes {
  max-width: 310px;
  height: 340px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  float: left;
  margin-top: 50px;
  margin-right: 73px;
  margin-bottom: 30px;
  background: #fff;
  border: 0px solid #dedede;
}

.Blueboxes h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  padding: 25px 15px 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  background-color: #107698;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
}

.Blueboxes p {
  padding: 20px 25px;
  font-size: 16px;
  display: inline-block;
  line-height: 1.4;
}

#getInTouch {
  width: 100%;
  background-color: white;
  padding: 50px 0;
}

#getInTouch h1 {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  color: #0a465b;
  text-align: center;
  margin-bottom: 30px;
}

#GIT {
  max-width: 850px;
  margin: 0 auto;
}

#helpBox {
  width: 340px;
  display: inline-block;
  position: relative;
}

#helpBox #helpImage {
  display: inline-block;
  border-radius: 50%;
  border: 8px solid rgba(253, 181, 48, 0.7);
}

#helpText {
  width: 260px;
  border-top: 1px solid #107698;
  border-bottom: 1px solid #107698;
  padding: 10px 0;
  margin-top: 16px;
  position: relative;
  left: -30px;
}

#helpText h3 {
  text-align: center;
  font-size: 23px;
  text-transform: capitalize;
  color: grey;
}

#helpText h3 span {
  color: #7f969e;
  font-size: 16px;
}

#arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

#contactUsContainer {
  max-width: 400px;
  display: inline-block;
  padding-left: 80px;
}

#contactUsButton {
  width: 165px;
  font-size: 22px;
  text-transform: capitalize;
  color: white;
  padding: 15px 0px 15px 50px;
  background-color: #107698;
  border: 2px solid #fdb530;
  border-radius: 4px;

  position: relative;
  top: 0px;
  margin-left: 65px;
}

#contactUsButton:hover {
  top: 5px;
  cursor: pointer;
}

#socialS {
  max-width: 350px;
  min-width: 350px;
  text-align: center;
  border-top: 4px solid #dfdfe0;
  margin-top: 35px;
  padding-top: 25px;
}

#socialS a {
  display: inline-block;
}

#socialS img {
  display: inline-block;
  border: 5px solid #dfdfe0;
  border-radius: 50%;
  margin: 0 12px;
  position: relative;
  top: 0px;
}

#socialS img:hover {
  top: 5px;
  cursor: pointer;
}

#TrustedBy {
  width: 100%;
  padding: 50px 0;
  background-color: #edeff3;
}

#TrustedBy h1 {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  color: #0a465b;
  text-align: center;
  margin-bottom: 40px;
}

#TrustedBy img {
  text-align: center;
  margin: auto;
  height: 90px;
}

footer {
  width: 100%;
  padding: 40px 0;
  background-color: #504f4f;
  color: #c7c5c5;
  text-align: center;
  font-size: 16px;
}

footer > section {
  max-width: 1140px;
  margin: 0 auto;
}

footer > section > div {
  display: inline-block;
  width: 50%;
  line-height: 1.4;
}
